
<link rel="stylesheet" href="client/html-components/converter/converter.component.css">

<div class="addDividingBorder">
    <p>Type into the left text area. The right-area is locked from editing.</p>
    <textarea rows="40" cols="40" ng-model="userInput"></textarea>
    <textarea id="textArea1" ng-readonly="true" rows="40" cols="40" ng-model="textAreaText"></textarea><br />
    <button ng-click="parseContent()" id="b">Parse!</button>
    <p>Converts Raw HTML Into A Format That Can Be Inserted Into Angular Controllers.</p>
</div>